@model IEnumerable<StudentExerciseMVC_API.Models.CocktailViewModel.Drink>

<!DOCTYPE html>
<html>

<head>
    <title>Cocktail View</title>
</head>

<body>
    <h1>Cocktail View</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Picture</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cocktail in Model)
            {
                <tr>
                    <td>@cocktail.idDrink</td>
                    <td>@cocktail.strDrink</td>
                    <td><img src="@cocktail.strDrinkThumb" width="100" height="100"></td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
